<!--- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Classifier</title>
</head>
<body>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Converter</title>
    <!-- Add any additional CSS stylesheets or scripts here -->
</head>
<body>
    <h1>American Sign Language Converter</h1>

    <div id="video-container">
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>
</body>
</html>
